<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" ngModel name="username" required>
          </div>
          <button class="btn btn-default" (click)="suggestUserName()" type="button">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" id="email" class="form-control" ngModel name="email" required email #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
            <!-- <input type="email" id="email" class="form-control" ngModel name="email" required email #email="ngModel"> -->
            <!-- <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email</span> -->
            <div class="md-errors-spacer" [hidden]="email.valid || email.untouched">
              <div *ngIf="email.errors && email.errors.required">
                Email is required
              </div>
              <div *ngIf="email.errors && email.errors.pattern">
                Email is invalid
              </div>
            </div>
          </div>

        </div>
        <div *ngIf="!userData.valid && userData.touched">User data is invalid</div>

        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select id="secret" class="form-control" ngModel name="secret" [(ngModel)]="defaultQuestion">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea name="questionAnswer" rows="3" [(ngModel)]="answer" class="form-control"></textarea>
        </div>
        <p>Your reply {{answer}}</p>
        <div class="form-group" ngModelGroup="genderData" #genderData="ngModelGroup">
          <div class="radio" *ngFor="let  gender of genders ">
            <label><input type="radio" name="gender" ngModel [value]="gender"   #gen="ngModel" required>{{gender}}</label>
            <!-- <div class="help-block" *ngIf="gen.touched">Input the gender...</div> -->
          </div>

        </div>
        <div *ngIf="genderData.touched &&  genderData.invalid">Input the gender...</div>

        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <h3>Your Data</h3>
      <p>UserName : {{user.username}}</p>
      <p>Mail: {{user.email}}</p>
      <p>Secret question: {{user.sercretQuestion}}</p>
      <p>Answer: {{user.answer}}</p>
      <p>Gender: {{user.gender}}</p>
    </div>
  </div>
</div>
